<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">

</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1 class="text center">Tech Blog</h1>
      <nav>
        <ul>
        <li><a href="/">Home</a></li>
        {{#if logged_in}}
        <li><a href="/dashboard">My Dashboard</a></li>
        <li><button class="no-button" id="logout">Logout</button></li>
        <li><a href="/signup">Sign Up</a></li>
        {{else}}
        <li><a href="/login">Login</a></li>
        <li><a href="/signup">Sign Up</a></li>
        {{/if}}
        </ul>
      </nav>
    </header>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="./js/logout.js"></script>
  {{/if}}
</body>

</html>
