<!-- Loop over each object in the blogs array if the use has blog entered -->
{{#if blogs.length}}
{{#each blogs as |blog| }}
<div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <a href="/blogs/{{blog.id}}">{{blog.title}}</a>
    </h2>
    <p>{{blog.description}}</p>
  </div>
</div>
{{/each}}
{{/if}}

<a href="/blog/new">Add New Blog</a>
