header, .project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}


header {
  padding: 40px;
  text-align: center;
  background: var(--primary);
  color: var(--light);
}

header nav{
  margin: 10px;
  float: right;
  align-items: center;
}

/*define navigation bar listed item style*/
header li{
  display: inline-block;
  list-style-type: none;
  margin: 10px;
}

/*change background color when user hover the item*/
header nav li:hover{
  background-color: rgb(143, 143, 218);
  cursor: pointer;
}


/* CARDS */
.card {
  margin: 20px;
  flex: 0 1 300px;
  border: 7px double var(--dark);
  border-radius: 10px;
  background-color: var(--light);
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: #577a7c;
  color: var(--light);
}

.card header {
  color: var(--light);
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  background-color: var(--tertiary);
  padding: 0.625rem;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
}

.card-body {
  font-size: 1.4rem;
  text-align: center;
  font-weight: bold;
}

.comment {
  font-size: 1rem;
  font-weight: bold;
  padding: 10px;
  background: var(--primary);
  color: var(--light);
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border: 1px solid black;
  font-weight: bold;
  margin: 20px;
}